# 1. split
문자열을 특정 단어 기준으로 나눠서 List 형태로 변환

#### 1) '공백' 기준으로 split

In [22]:
words = 'one two three four five'
# split

['one', 'two', 'three', 'four', 'five']
['one', 'two', 'three', 'four', 'five']

In [21]:
print(type(words))
print(type(words.split()))

<class 'str'>
<class 'list'>

#### 2) 'comma' 기준으로 split

In [9]:
words = 'one,two,three,four,five'
# split

['one', 'two', 'three', 'four', 'five']

# 2. Join
String List를 합쳐 하나의 문자열로 변환

#### 1) '공백' 기준으로 join

In [1]:
word_list = ['one', 'two', 'three', 'four', 'five']

In [3]:
# word_list join

In [2]:
str_data = 'HelloWorld'

In [ ]:
# string join

#### 2) 'comma' 기준으로 join

In [40]:
word_list = ['one', 'two', 'three', 'four', 'five']
print(','.join(word_list))

one,two,three,four,five
<class 'list'>

# 3. enumerate
 iterator에서 각 List element 및  index 값을 추출

In [62]:
word_list = ['one', 'two', 'three', 'four', 'five']

In [63]:
num = 0
for v in word_list:
    num += 1
    print(num, v)

1 one
2 two
3 three
4 four
5 five

In [4]:
# enumerate

In [5]:
# enumerate 초기값 설정

#### [list]

In [6]:
# enumerate List 변환

#### [dict]

In [7]:
# enumerate dictionary 변환

# 4. zip
두 개의 list 값을 병렬적으로 추출

In [75]:
num_list=[1, 2, 3, 4, 5]
str_list=['one', 'two', 'three', 'four', 'five']

1 one
2 two
3 three
4 four
5 five

In [ ]:
# zip으로 num_list, str_list 의 각 element 값을 동시에 출력

In [76]:
num_list=[1, 2, 3]
str_list=['one', 'two', 'three', 'four', 'five']

1 one
2 two
3 three

In [ ]:
# zip으로 num_list, str_list 의 각 element 값을 동시에 출력

#### [unzipping]

In [11]:
num_list=[1, 2, 3, 4, 5]
str_list=['one', 'two', 'three', 'four', 'five']

In [17]:
#zip(num_list, str_list)를 List로 변환

In [9]:
# zip_list unzipping
n, s = 
print("num_list : ", n)
print("str_list : ", s)

num_list :  (1, 2, 3, 4, 5)
str_list :  ('one', 'two', 'three', 'four', 'five')

##### 예제
- list_1, list_2, list_3의 각 element의 합으로 이루어진 list_result를 출력하세요

In [9]:
list_1=[1, 2, 3]
list_2=[10, 20, 30]
list_3=[100, 200, 300]